
/*Aca se encuentra la definicion de fuentes, el root y el reseteo */

/*Fuentes*/
@font-face{
  font-family: "Nunito Bold";
  src: url("../media/fonts/Nunito-Black.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face{
  font-family: "Nunito";
  src: url("../media/fonts/Nunito-Medium.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: "Nunito Italic";
  src: url("../media/fonts/Nunito-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}

/*Root*/
:root{
  /* Colores */
  --colorBackground: #111213;
  --colorBackgroundButton: #1c1f83;
  --colorBackgroundFooter: #1c1f83;
  --colorBackrgoundHeader: #1c1f83;    
  --colorBackgroundButtonHover: #4145b5;
  --colorBackgroundInputText: #333333;
  --colorBorder: #ffff;
  --colorBorderInputFocus: #6063c3;
  --colorFooterHorizontalRule: #cfcbcb;
  --colorMainHorizontalRule: #4145b5;
  --colorShadow: rgba(255,255,255,0.5);
  --colorText: #cfcbcb;
    
  /*Fuentes*/
  --fontButton: "Nunito Bold";
  --fontHeader: "Nunito Bold";
  --fontRegularText: "Nunito";
}

/* Reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--colorText);
  text-decoration: none;
  scroll-behavior: smooth;
}
