
/* Estilos para todos los mains del sitio */

@import url(./general-style.css);

h1, h2, h3 {
    font-family: var(--fontHeader);
}

p {
    font-family: var(--fontRegularText);
}

/* Index */

.indexBody {
    background-color: var(--colorBackground);
}

.mainHorizontalRule {
    border: 1px solid var(--colorMainHorizontalRule);
    width: 80%;
    margin: 0 auto;
    margin-top: 3rem;
}

.homeSection {
    background: linear-gradient(to top, #000000bd, #000000bd), url(../media/images/backgrounds/index_header_background.webp);
    height: 90vh;
    background-position: center;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;

    .homeTextContainer{
        text-align: center;
        padding: 3rem;
        
        h1 {
            font-size: clamp(2.5rem, 5vw, 3rem);
            margin-bottom: 0.2em;
        }

        p {
            font-size: clamp(1rem, 3vw, 1.5rem);
            margin-bottom: 2em;
        }
        
        h2 {
            font-size: clamp(2rem, 5vw, 2.5rem);
            margin-bottom: 1em;
        }

    }

    .registerButton {
        background-color: var(--colorBackgroundButton);
        color: var(--colorText);
        font-family: var(--fontButton);
        padding: 1rem 2rem;
        border-radius: 5px;
        border: 2px solid var(--colorBorder);
        font-size: clamp(1rem, 3vw, 1.2rem);
        transition: all 0.5s;
        &:hover {
            background-color: var(--colorBackgroundButtonHover);
        }
    }
   
}

.searchSection {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
        font-size: clamp(2rem, 5vw, 2.5rem);
    }

    .searchForm {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        
        .searchInputText {
            border: 3px solid var(--colorBorder);
            border-radius: 25px;
            background-color: var(--colorBackgroundInputText);
            font-size: clamp(1rem, 3vw, 1.5rem);
            height: 50px;
            margin: 1rem 1rem;
            outline: none;
            padding: 0px 20px;
            width: 30rem;
            transition: all 0.3s;
            &:focus{
                border-color: var(--colorBorderInputFocus);
            }
        }

        .searchInputButton {
            background-color: var(--colorBackgroundButton);
            height: 50px;
            margin: 1rem 1rem;
            border-radius: 25px;
            font-size: clamp(1rem, 3vw, 1.5rem);
            border: 2px solid var(--colorBorder);
            width: 30rem;
            transition: all 0.5s;
            &:hover {
                background-color: var(--colorBackgroundButtonHover);
                cursor: pointer;
            }
        }
        
    }
}

.trendsSection {
    margin: 5rem 0;
    padding: 0 5rem;
    text-align: center;
  
    h2 {
        font-size: clamp(2rem, 5vw, 2.5rem);
        margin: 4rem 0;
    }
    
    .trendsGalery{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 4rem;
        
        .trendsImageContainer{
            height: 20rem;
            border-radius: 5px;
            transition: all 0.5s;
            
            img{
                height: 100%;
                width: 100%;
                border-radius: 5px;
                object-fit: cover;
            }

            &:hover{
                box-shadow: 0px 0px 20px 5px var(--colorShadow);
                transform: scale(0.9);
            }
        }
    }

    .trendsButtonsContainer{
        margin-top: 5rem;
        display: flex;
        justify-content: center;
        gap: 2.5rem;
        .prevButton, .nextButton {
            background-color: var(--colorBackgroundButton);
            color: var(--colorText);
            font-family: var(--fontButton);
            padding: 1rem 2rem;
            border-radius: 5px;
            border: 2px solid var(--colorBorder);
            font-size: clamp(1rem, 3vw, 1.2rem);
            margin-top: 1rem;
            transition: all 0.5s;
            &:hover {
                background-color: var(--colorBackgroundButtonHover);
                cursor: pointer;
            }
        }
    }
}

.acclaimedSection {
    margin: 5rem 0;
    padding: 0 5rem;
    text-align: center;
  
    h2 {
        font-size: clamp(2rem, 5vw, 2.5rem);
        margin: 4rem 0;
    }
    
    .acclaimedGalery{
        width: 100%;
        overflow-x: scroll;
        overflow-y: hidden;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 4rem;
        padding: 2rem;

        .acclaimedImageContainer{
            height: 20rem;
            flex-shrink: 0;
            border-radius: 5px;
            transition: all 0.5s;

            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 5px;
            }
            
            &:hover{
                box-shadow: 0px 0px 20px 5px var(--colorShadow);
                transform: scale(0.9);
            }
        }
    }
}

/* Pagina de registro*/

.registerBody, .loginBody {
    background: linear-gradient(to top, #000000bd, #000000bd), url(../media/images/backgrounds/register_background.webp);
    background-size: fill;
    
}

.registerSection, .loginSection {
    margin: 0 auto;

    h2 {
        margin-bottom: 1rem;
    }
        
    .registerForm, .loginForm {
        margin: 5rem 0;
        width: 100%;
        background-color: var(--colorBackground);
        border-radius: 5px;
        padding: 1rem;

        .registerName, .registerLastName, .registerEmail, .registerPassword, .registerBirthDate, .registerCountry, .loginEmail, .loginPassword {
            height: 100%;
        }
    
        .registerNameInput, .registerLastNameInput, .registerEmailInput, .registerPasswordlInput, .registerBirthDatelInput, .registerCountrySelect, .loginEmailInput, .loginPasswordInput {
            width: 100%;
            font-family: var(--fontRegularText);
            margin-top: 1rem;
            height: 2rem;
            padding: 0 1rem;
            font-size: clamp(0.5rem, 5vw, 1rem);
            border-radius: 25px;
            border: 3px solid var(--colorBorder);
            background-color: var(--colorBackgroundInput);
            outline: none;
            transition: all 0.3s;
            &:focus {
                border-color: var(--colorBorderInputFocus);
            }
        }

        .registerTerms{
            font-family: var(--fontRegularText);
            font-size: 0.8rem;
            margin-top: 1rem;        
            align-items: center;
            margin-bottom: 1rem;
            
            .registerTermsLabel {
                margin-left: 0.2rem;
            }
        }

        .errorText {
            color: var(--colorErrorText);
            font-size: clamp(0.5rem, 5vw, 0.8rem);
            font-family: var(--fontRegularText);
            margin-top: 0.3rem;
            padding: 0 1.2rem;
        }

        .registerButtonInput, .loginButtonInput {
            width: 100%;
            margin-top: 1rem;
            background-color: var(--colorBackgroundButton);
            color: var(--colorText);
            font-family: var(--fontButton);
            padding: 0.5rem 1rem;
            border-radius: 5px;
            border: 2px solid var(--colorBorder);
            font-size: clamp(1rem, 3vw, 1.2rem);
            transition: all 0.5s;
            &:hover {
                background-color: var(--colorBackgroundButtonHover);
                cursor: pointer;
            }
        }

        .loginRegisterLink{
            padding-top: 1rem;
            padding-bottom: 0.4rem;
            width: max-content;
            font-family: var(--fontRegularText);
            transition: transform 0.3s;
            
            &:hover {
                transform: scale(0.9);
            }
                
            &::before {
                content: "";
                position: absolute;
                display: block;
                width: 100%;
                height: 2px;
                bottom: 0;
                left: 0;
                background-color: var(--colorUnderLine);
                transform: scaleX(0);
            }
        
            &:hover::before {
                animation: grow 1s infinite;
                transform: scaleX(1);
            }
        }
    }
}

/* Mediaqueris para la seccion de registro y de logeo */

@media (min-width: 768px) {
    .registerSection, .loginSection {
        width: 30%;
    }
}

/* Pagina de detalle */

.detailBody {
    background-color: var(--colorBackground);
}

.detailSection{
    margin-top: 5rem;
    .detailContainer{
        width:80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        row-gap: 20px;

        .detailImageContainer{
            border-radius: 5px;

            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 5px;
            }
        }
        .detailTextContainer{
            h1{
                margin-top: 3rem;
                font-size: clamp(2rem, 3vw, 2.5rem);
            }

            p {
                font-size: clamp(1rem, 3vw, 1.2rem);
            }

            h2{
                margin-top:3rem;
            }

            .detailCreditsContainer{
                margin-top: 3rem;
                display: flex;
                justify-content: space-between;
            }
        }
    }
}

.trailerSection {
    margin-top: 5rem;
    .trailerContainer{
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 3rem;

        .trailerVideoContainer{
            width: 100%;
            h2{
                font-size: clamp(1.5rem, 3vw, 2rem);
                margin-bottom: 1rem;
            }
            iframe{
                width: 100%;
                height: 400px;
            }
        }
    }
}

.movieInfoSection{
    margin-top: 5rem;
    margin-bottom: 5rem;
    .movieInfoContainer{
        width: 80%;
        margin: 0 auto;
        h2{
            font-size: clamp(1.5rem, 3vw, 2rem);
            margin-bottom: 1rem;
        }

        table, th, td {
            border:1px solid white;
            border-radius: 3px;
          }

        table{
            width: 100%;
            th{

                font-family: var(--fontHeader);
                font-size: clamp(1rem, 3vw, 1.5rem);
                padding: 0 0.5rem;
            }
            tr{
                td{
                    font-family: var(--fontRegularText);
                    font-size: clamp(0.8rem, 3vw, 1.2rem);
                    padding: 0 0.1rem;
                }
            }
        }
    }
}

/* Mediaqueris para la pagina de detalle */

@media (min-width: 768px) {
    .detailSection {
       .detailContainer{
            display: flex;
            flex-direction: row;
            gap: 3rem;
            
            .detailTextContainer{
                h1 {
                    margin-top: inherit;
                }
            }
        }
    }
}